<div class="container row">
<div class="genre">
  <h1 class="section h2">
    作品一覧
  </h1>
</div>
  <ul class="all_books">
    <% @books.each do |book| %>
    <h2 class="title h3"="<%= book.title %>">
      <%= book.title %>
    </h2>
    <div class="book_image"><%= image_tag book.goods %>
    <%= link_to "詳細", book_path(book.id), method: :get %></div>
    <ul class="col">
      <a href="/books/<%= book.id %>"></a>
    </ul>
    <% end %>
  </ul>
</div>
  <%= paginate(@books) %>
