  <div class="container row">
    <header class="header-section">
      <h2 class="text-middle">
        <i class="icon-movie color-gray-light"></i>投稿する作品を検索
      </h2>
    <%= form_tag('/books/search', method: :get) do%>
    <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
    <% end %>
    </header>
  </div>

  <div class="container row">
    <h2 class="text-middle">
      <i class="icon-movie color-gray-light"></i>検索結果
    </h2>
    <ul class="big_col">
    <% @books.each do |book| %>
    <h3 class="title h2"="<%= book.title %>">
      <%= book.title %>
    </h3>
    <div class="book_image"><%= image_tag book.goods %>
    <%= link_to "詳細", book_path(book.id), method: :get %></div>
    <li class="col">
      <a href="/books/<%= book.id %>"></a>
    </li>
    <% end %>
    </ul>
  <%= paginate(@books) %>
</div>

