.user-confirmation.container
  %h3.h3.section Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      %br/
      = f.text_field :email, autofocus: true, class: "form-control"
    .form-group
      = f.label :password
      %br/
      = f.text_field :password, autocomplete: "off", class: "form-control"
    - if devise_mapping.rememberable?
      .form-group
        = f.label :remember_me
        %br/
        = f.check_box :remember_me
    .form-group
      = f.submit "Log in"
