<div class="user-confirmation container">
  <h3 class="h3 section">Log in</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.text_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.text_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.label :remember_me %><br />
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
